<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.career.guidance">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".GuidanceApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareerGuidance"
        tools:targetApi="31">
        <activity
            android:name=".activity.LoansAndUniversities.LoansAndUnivertiesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.build_environment.NaturalResources"
            android:exported="false" />
        <activity
            android:name=".activity.build_environment.AgriculturePrograms"
            android:exported="false" />
        <activity
            android:name=".activity.build_environment.SelectProgramActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BusinesHumanitiesEtc.EducationPrograms"
            android:exported="false" />
        <activity
            android:name=".activity.BusinesHumanitiesEtc.BusinessAndHumanitiesSubCategories"
            android:exported="false" />
        <activity
            android:name=".activity.BusinesHumanitiesEtc.HumanityPrograms"
            android:exported="false" />
        <activity
            android:name=".activity.BusinesHumanitiesEtc.BusinessPrograms"
            android:exported="false" />
        <activity
            android:name=".activity.build_environment.BuiltEnvironment"
            android:exported="false" />
        <activity
            android:name=".activity.STEM.EngineeringTechnologyAndTechniciansPrograms"
            android:exported="false" />
        <activity
            android:name=".activity.STEM.scienceAndMathematicsPrograms"
            android:exported="false" />
        <activity
            android:name=".activity.MedicineHealthEtc.MedicineHealthAndVetProgramsActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EmailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.displayProgramInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.STEM.ICTPrograms"
            android:exported="false" />
        <activity
            android:name=".activity.STEM.EngineeringPrograms"
            android:exported="false" />
        <activity
            android:name=".activity.STEM.SelectStemSubCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MedicineHealthEtc.MedicineSubCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FAQActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".GuidanceApp"
            android:exported="false" />
        <activity
            android:name=".AppBaseActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>